<link rel="import" href="../components/bower_components/polymer/polymer.html">
<link rel="import" href="../components/bower_components/polymer/layout.html">

<!-- Fonts -->
<link rel='import' href='../components/bower_components/font-roboto/roboto.html'>

<link rel="import" href="../components/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/av-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/image-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/notification-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/social-icons.html">

<link rel="import" href="../components/bower_components/iron-form/iron-form.html">

<link rel="import" href="../components/bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../components/bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../components/bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../components/bower_components/paper-item/paper-item.html">
<link rel="import" href="../components/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../components/bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../components/bower_components/paper-toolbar/paper-toolbar.html">

<!-- Custom Imports -->
<link rel="import" href="../imports/font-awesome.html">
<link rel="import" href="../imports/material_icons.html" />
<link rel="import" href="../imports/materialize.html" />


<dom-module id="new-request">
    <style>
        :host{
        }

        .logo-link{
            text-decoration: none;
            font-size:2rem;
            color:#ffffff;
            margin-left:-15px !important;
        }

		#request_create_button {
			background-color: #EF6C00;
			color: #ffeb3b;
			width:100%;
		}

		#paper-header-panel{
            border-bottom: solid 1px #ffffff;
        }

		.picker__date-display {
			background-color: #fb8c00 !important;
		}

        .lfg-main-toolbar{
            --paper-toolbar-background:{
                 background-color: transparent !important;
             };
        }

        .lfg-drawer-toolbar{
            --paper-toolbar-background: #ef6c00;
        }

        .lfg-main-header-panel{
            --paper-header-panel-cover-container:{
                 border: solid 1px #ffffff;
             };
        }

        .lfg-paper-fab{
            --paper-fab: {
                 position: fixed;
                 right: 0;
                 bottom: 0;
                 margin-right: 3%;
                 margin-bottom: 3%;
             };
            --paper-fab-background: #e65100;
        }

        .lfg-input{
            color: #ffeb3b !important;

        }

		.lfg-input.input-field textarea {
			border-bottom: 1px solid #ffffff;
            box-shadow: 0 1px 0 0 #ffffff;
		}

		.lfg-input.input-field textarea:focus {
			border-bottom: 1px solid #ffeb3b;
            box-shadow: 0 1px 0 0 #ffeb3b;
		}

        /* label color */
        .lfg-input.input-field label {
            color: #ffffff;
        }

        .lfg-input.input-field input[type=text]{
            border-bottom: 1px solid #ffffff;
            box-shadow: 0 1px 0 0 #ffffff;
            font-size: 1.5rem;
        }

        /* label focus color */
        .lfg-input.input-field input[type=text]:focus + label {
            color: #ffeb3b;
        }

        /* label underline focus color */
        .lfg-input.input-field input[type=text]:focus {
            border-bottom: 1px solid #ffeb3b;
            box-shadow: 0 1px 0 0 #ffeb3b;
        }
        /* valid color */
        .lfg-input.input-field input[type=text].valid {
            border-bottom: 1px solid #ffffff;
            box-shadow: 0 1px 0 0 #ffffff;
        }
        /* invalid color */
        .lfg-input.input-field input[type=text].invalid {
            border-bottom: 1px solid #f44336 !important;
            box-shadow: 0 1px 0 0 #f44336 !important;
        }

		.lfg-input .select-wrapper input.select-dropdown .invalid {
			border-bottom: 1px solid #f44336 !important;
            box-shadow: 0 1px 0 0 #f44336 !important;
		}

        /* Icon prefix */
        .lfg-input.input-field .prefix {
            color: #ffffff;
        }

        /* icon prefix focus color */
        .lfg-input.input-field .prefix.active {
            color: #ffeb3b;
        }

		.lfg-input .select-wrapper input.select-dropdown{
			border-bottom: 1px solid #ffffff;
            box-shadow: 0 1px 0 0 #ffffff;
		}


        .switch label.new-request input[type=checkbox].new-request:checked + .lever.new-request{
            background-color: #fff59d;
        }

        .switch.new-request label.new-request input[type=checkbox].new-request:checked + .lever.new-request:after{
            background-color:#ffff00;
        }

        .switch.new-request label.new-request input[type=checkbox].new-request:checked + .positive.new-request{
            background-color:#ffff00 !important;
        }

        .switch.new-request label.new-request input[type=checkbox].new-request:checked + .negative.new-request:after{
            background-color:#ffff00 !important;
        }

        .bottom-bar{
            margin-left:0px !important;
        }

        .content-area{
            width:100%;
            padding:0 10% 10% 10%;
            background-color:#fb8c00;
        }

        .requests-card-panel{
            width: 100%;
            box-shadow: 0 2px 5px 0 #e65100;
            border-radius:0px;
        }

        .mic-required{
            margin-left: -35px !important;
        }


        @media (max-width: 640px){
            .logo-link{
                margin-left:0px;
            }

            .content-area{
                padding: 0 5% 5% 5%;
            }

            .lfg-paper-fab{
                --paper-fab: {
                     position: fixed;
                     right: 0;
                     bottom: 0;
                     margin-right: 3.5%;
                     margin-bottom: 3.5%;
                 };
                --paper-fab-background: #e65100;
            }

            .mic-required{
                margin-left: 0 !important;
            }
        }

    </style>

    <template>
        <paper-drawer-panel>
            <paper-header-panel mode="seamed" drawer>
                <paper-toolbar class="tall lfg-drawer-toolbar">

                </paper-toolbar>
                <div fit class="orange darken-3">Drawer Content</div>
            </paper-header-panel>
            <paper-header-panel mode="scroll" main class="lfg-main-header-panel">
                <paper-toolbar class="tall lfg-main-toolbar">
                    <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
                    <paper-icon-button icon="arrow-back" on-click="goToList"></paper-icon-button>
                    <div flex></div>
                    <!--<paper-icon-button icon="search"></paper-icon-button>
                    <paper-icon-button icon="more-vert"></paper-icon-button>-->
                    <div class="middle">
                    </div>
                    <div title class="bottom bottom-bar">
                        <template is="dom-if" if="{{!saveSuccess}}">
							<a href="/" class="logo-link">New Gaming Request</a>
						</template>
                    </div>
                </paper-toolbar>
                <div fit class="content-area">
                    <br>
                    <form id="new_request_form" class="col s12">
						<!--<input value="{{request.title}}" />-->
                        <div class="row">
                            <div class="lfg-input input-field col s12">
                                <i class="mdi-action-grade prefix"></i>
                                <input id="request_title" type="text" class="validate" value="{{request.title::input}}" />
                                <label for="request_title">What is it you wanna do?</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="lfg-input input-field col s12">
                                <i class="mdi-hardware-gamepad prefix"></i>
                                <input id="request_game" type="text" class="validate" data-beloworigin="true" value={{request.game::input}}>
								<input id="request_game_id" type="hidden" value={{request.gameid::input}}>
                                <label for="request_game">In What Game?</label>
                            </div>
                        </div>

						<div class="row">
							<div class="lfg-input select input-field col s12">
								<i class="mdi-hardware-tv prefix"></i>
								<select id="request_system">
									<option value="" disabled selected></option>
								</select>
								<label >For Which System?</label>
							</div>
						</div>

                        <div class="row">
                            <div class="lfg-input input-field col s7">
                                <i class="mdi-action-today prefix"></i>
                                <input id="request_date" type="date" class="datepicker" value={{request.date::input}}>
                                <label for="request_date">On What Day?</label>
                            </div>

							<div class="lfg-input input-field col s5">
								<i class="mdi-device-access-time prefix"></i>
								<input id="request_time" type="text" class="validate" value={{request.time::input}}>
								<label for="request_time">At What Time?</label>
							</div>
                        </div>

						<div class="row">
							<div class="lfg-input input-field col s12">
								<i class="mdi-action-picture-in-picture prefix"></i>
								<input id="request_gamertag" type="text" class="validate" value={{request.gamertag::input}}>
								<label>Whats your Gamer Tag? (Optional)</label>
							</div>
						</div>

						<div class="row">
							<div class="lfg-input input-field col s12">
								<i class="mdi-action-assignment prefix"></i>
								<textarea id="request_description" type="text" class="materialize-textarea" length="250" value={{request.description::input}}></textarea>
								<label>Tell us more about what you wanna do (Optional)</label>
							</div>
						</div>

						<!--<div class="row">
							<div class="lfg-input select input-field col s8">
								<i class="mdi-maps-place prefix"></i>
								<select id="request_city">
									<option value="" disabled selected></option>
								</select>
								<label>In What City?</label>
							</div>

							<div class="lfg-input select input-field col s4">
								<i class="prefix"></i>
								<select id="request_state">
									<option value="" disabled selected></option>
								</select>
								<label>And Which State?</label>
							</div>
						</div>-->
                        <br>
                        <div class="row">
                            <div class="col s1" style="margin-top: -15px;">
                                <i class="mdi-hardware-headset-mic white-text" style="font-size:2rem;"></i>
                            </div>
                            <div class="col s5 mic-required"><label class="white-text" style="font-size:1rem;">Are Microphones Required?</label></div>
                            <div class="col s4">
                                <div class="switch">
                                    <label class="white-text" style="font-size:1rem;">
                                        <span class="negative">No</span>
                                        <input type="checkbox" checked="{{request.mic::change}}">
                                        <span class="lever"></span>
                                        <span class="positive">Yes</span>
                                    </label>
                                </div>
                            </div>
                        </div>
						<!--<br />
						<div class="row">
							<div class="col s12">
								<ul id="request_details_container" class="collapsible" data-collapsible="expandable">
									<li>
										<div class="collapsible-header"><i class="mdi-image-filter-drama"></i>First</div>
										<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
									</li>
								</ul>
							</div>
						</div>-->
						<br />
						<div class="row">
							<div class="col s12">
								<paper-button id="request_create_button" raised on-click="saveRequest">
									<iron-icon icon="done"></iron-icon>
									Create Gaming Request
								</paper-button>
							</div>
						</div>
                    </form>

					<div id="success_message" class="center-align" style="display:none;">
						<h4 class="white-text">Your Gaming Request was created!</h4>
						<h5 class="white-text">Now go tell the world about it!</h5>
						<br /><br /><br />
						<div class="row">
							<div style="margin:0 auto;">
								<div style="display:inline-block; padding:0 5%;"><a href="#" class="white-text"><i class="fa fa-facebook-square fa-4x"></i></a></div>
								<div style="display:inline-block; padding:0 5%;"><a href="#" class="white-text"><i class="fa fa-twitter fa-4x"></i></a></div>
								<div style="display:inline-block; padding:0 5%;"><a href="#" class="white-text"><i class="fa fa-google-plus fa-4x"></i></a></div>
							</div>
						</div>
					</div>
                </div>
            </paper-header-panel>
        </paper-drawer-panel>
    </template>
</dom-module>

<script>
	(function (window) {
        var constructor = Polymer({

            is: 'new-request',

            /**
             * ...
             *
             * @attribute properties
             * @type object
             * @default
             */
            properties: {
                elementname: 'New Request Page',
                /**
                 * ...
                 *
                 * @attribute thingName
                 * @type string
                 * @default ''
                 */
            },

            convertDateToUtc: function (date) {
            	return window.lfg.utils.convertDateToUtc(date);
            },

            getLookupData: function(){
                //Gets lookup data from Giant Bomb
                var config = window.lfg.config;
                $.get(config.appUrl)
            },

            goToList: function () {
            	document.querySelector('app-router').go('/');
            },

            initializeData: function () {

            	this.saveSuccess = false;

            	this.request = {
            		title: '',
            		game: '',
					gameid: '',
            		system: '',
            		date: '',
            		time: '',
            		gamertag: '',
					description: '',
            		mic: false
            	};

            	this.systems = [
					{ name: 'PC', value: 'pc' },
					{ name: 'PS3', value: 'ps3' },
					{ name: 'PS4', value: 'ps4' },
					{ name: 'Xbox 360', value: 'xbox360' },
					{ name: 'Xbox One', value: 'xboxOne' },
					{ name: 'Steam Machine', value: 'steam' },
					{ name: 'Wii', value: 'wii' },
					{ name: 'Wii U', value: 'wiiu' }
            	];

            	this.firebaseRef = new Firebase(window.lfg.config.getFirebaseUrl());
            },

            optionSelected: function (e) {
            	var node = $('new-request')[0];
            	var select = e.target;
            	var val = $(select).val();
            	node.__data__.request.system = val;  //This is the only way I know how to get properties declared on a Polymer custom element, 
            	//when accessed outside of Polymer's context. I suspect theres a beter way than using the "__data__" prop

            	//clear val errors
            	$('#request_system').parent().find('.select-dropdown').removeClass('invalid');
            },

            registerPlugins: function () {
            	$(this.$.request_date).pickadate({
            		selectMonths: true,
					selectYears: 15
            	});

            	$(this.$.request_time).timeEntry({
            		spinnerImage: ''
            	});

            	$(this.$.request_details_container).collapsible();

            	$(this.$.request_game).autocomplete({
            		source: function (request, response) {
            			var url = window.lfg.config.getGiantBombUrl(window.lfg.config.apiEndPoints.search);

            			$.ajax({
            				url: url,
            				type: 'GET',
            				cache: false,
            				data: { search: request.term },
            				dataType: 'json',
            				success: function (data) {
            					response($.map(data.results, function (item) {
            						return {
            							label: item.name,
										value: item.id
            						}
            					}));
            				},
            				error: function (err) {
            				}
            			});
            		},
            		minLength: 1,
            		select: function (event, ui) {
            			event.preventDefault();
            			$('#' + this.id).val(ui.item.label);
            			$('#request_game_id').val(ui.item.value);

            			var node = $('new-request')[0];
            			node.__data__.request.game = ui.item.label;  //This is the only way I know how to get properties declared on a Polymer custom element, when accessed outside of Polymer's context. I suspect theres a beter way than using the "__data__" prop
            			node.__data__.request.gameid = ui.item.value;
            		},
            		messages: {
            			noResults: 'Could not find game title',
            			results: function () { }
            		},
            		open: function () {
            			$('.ui-autocomplete').width($(this).width()); //this is the input field
            		}
            	});
            },

            registerEvents: function () {
            	$(document).on('change', '#' + this.$.request_date.id, function () {
            		$(this).removeClass('invalid');
            	});
            },

            registerDropListPlugin: function () {
            	//TODO: Add Options manually or Use "browser-default" class of materialselect (lame) | <DONE>
				var list = ''
				_.each(this.systems, function (system) {
					list += '<option value="' + system.value + '">' + system.name + '</option>'
				});
				$(this.$.request_system).append(list);


				$(this.$.request_system).material_select();
				$(this.$.request_city).material_select();
				$(this.$.request_state).material_select();

				//option selected event
				$(document).on('change', '#' + this.$.request_system.id, this.optionSelected);
            },

            showSuccessMessage: function () {
            	this.saveSuccess = true;
            	$(this.$.new_request_form).hide(0, function () {
            		$('#success_message').fadeIn();
            	});
            },

            saveRequest: function () {
            	//get the values of plugin-affected inputs
            	var time_date = $(this.$.request_time).timeEntry('getTime');
            	this.request.date = $(this.$.request_date).pickadate('picker').get('select', 'mm/dd/yyyy');
            	this.request.time = time_date !== null && time_date !== undefined && time_date !== '' ? time_date : null;

            	if (this.validateGameRequest(this.request) !== false) {

            		var request_date = Date.parse(this.request.date);

            		this.request.time.setFullYear(request_date.getFullYear());
            		this.request.time.setMonth(request_date.getMonth(), request_date.getDate());
            		this.request.time.setDate(request_date.getDate());

            		var utcDate = this.convertDateToUtc(this.request.time);
            		var createdUTC = this.convertDateToUtc(Date.now());

            		var requestsRef = this.firebaseRef.child('requests');
            		var newRequest = {
            			title: this.request.title,
            			game: this.request.game.toLowerCase(),
            			gametitle: this.request.game,
            			giantbombid: this.request.gameid,
            			system: this.request.system,
            			datetime: utcDate,
            			mic: this.request.mic,
            			description: this.request.description,
            			created: createdUTC
            		}

					//custom index for searching & ordering games & giantbomb ids in lexicographical/chronologic order really just a hack
            		newRequest.gameindex = window.lfg.utils.clearWhiteSpace(newRequest.game) + window.lfg.utils.getSearchIndex(this.convertDateToUtc(Date.now()));
            		newRequest.giantbombindex = newRequest.giantbombid + window.lfg.utils.getSearchIndex(this.convertDateToUtc(Date.now()));

            		//Save new request content;
            		var newRequestRef = requestsRef.push(newRequest);

            		newRequestRef.setWithPriority(newRequest, 0 - Date.now());	//Set the priority so that this comes first 
            		var requestid = newRequestRef.key();

            		if (requestid !== null && requestid !== undefined)
            			this.showSuccessMessage();
            	}
            },

            validateGameRequest: function (request) {
            	var valid = true;

            	if (request.title === null || request.title === undefined || request.title === '') {
            		$(this.$.request_title).addClass('invalid');
            		valid = false;
            	}

            	if (request.game === null || request.game === undefined || request.game === '') {
            		$(this.$.request_game).addClass('invalid');
            		valid = false;
            	}

            	if (request.system === null || request.system === undefined || request.system === '') {
            		$(this.$.request_system).parent().find('.select-dropdown').addClass('invalid');
            		valid = false;
            	}

            	if (request.date === null || request.date === undefined || request.date === '') {
            		$(this.$.request_date).addClass('invalid');
            		valid = false;
            	}

            	if (request.time === null || request.time === undefined || request.time === '') {
            		$(this.$.request_time).addClass('invalid');
            		valid = false;
            	}

            	return valid;
            },

            created: function () {
				//Part of Polymer lifecycle
            },

            ready: function () {
            	this.initializeData();
            },

            attached: function () {
				//called after ready();
            	this.registerPlugins();
            	this.registerDropListPlugin();
            	this.registerEvents();
            }
        });
    })(window);
</script>