<link rel="import" href="../components/bower_components/polymer/polymer.html">
<link rel="import" href="../imports/layout.html">

<!-- Fonts -->
<link rel='import' href='../components/bower_components/font-roboto/roboto.html'>

<link rel="import" href="../components/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/av-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/image-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/notification-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/social-icons.html">

<link rel="import" href="../components/bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../components/bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../components/bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../components/bower_components/paper-item/paper-item.html">
<link rel="import" href="../components/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../components/bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../components/bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../components/bower_components/paper-item/paper-item.html">

<!-- Google Custom Elements-->
<link rel="import" href="../components/bower_components/firebase-element/firebase-collection.html">

<!-- Custom Imports -->
<link rel="import" href="../imports/materialize.html" />
<link rel="import" href="../imports/material_icons.html" />
<link rel="import" href="../imports/flaticons.html" />
<link rel="import" href="../imports/side-nav-contents.html" />

<dom-module id="request-page">
    <!-- CSS -->
    <link rel="import" type="css" href='../assets/app/css/lfg.css'>

    <style>
        :host{
        }

		.flaticon-update {
			margin-top: 2px !important;
			color: #424242;
		}

		[class^="flaticon-"]:before, [class*=" flaticon-"]:before {
			margin-left:0px !important; 
			font-size:35px !important;
		}

        .logo-link{
            text-decoration: none;
            font-size:2rem;
            color:#ffffff;
            margin-left:-15px !important;
        }

        input[type=text].request-page{
             background-color: transparent;
              border: none;
              border-bottom: none !important;
              border-radius: 0;
              outline: none;
              height: 3rem;
              width: 100%;
              font-size: 1.5rem !important;
              font-weight:400;
              margin: 0 0 15px 0;
              padding: 0;
        }

        /* label underline focus color */
        input[type=text].request-page:focus {
            border-bottom: none;
            box-shadow: none;
        }

        /* valid color */
        input[type=text].request-page.valid {
            border-bottom: none !important;
            box-shadow: none !important;
        }

        /* invalid color */
        input[type=text].request-page.invalid {
            border-bottom: none;
            box-shadow: none;
        }

		.request-list-item {
			cursor: pointer;
		}

		.request-list-item-container {
			/*padding: 10px 20px 10px 20px;*/
		}

        .lfg-main-toolbar{
            --paper-toolbar-background:{
                 background-color: transparent !important;
             };
        }

        .lfg-drawer-toolbar{
			--paper-toolbar:{
				background: url('../assets/app/img/profile_background5.jpg');
				background-size: 256px 192px;
			};
        }

        #paper-header-panel{
            border-bottom: solid 1px #ffffff;
        }

        .lfg-main-header-panel{
            --paper-header-panel-cover-container:{
                border: solid 1px #ffffff;
             };
        }

        .lfg-paper-fab{
            --paper-fab: {
                position: fixed;
                right: 0;
                bottom: 0;
                 margin-right: 5%;
                 margin-bottom: 3%;
             };
            --paper-fab-background: #e65100;
        }

        .bottom-bar{
            margin-left:0px !important;
        }

        .content-area{
            padding:0 15% 15% 15%;
            background-color:#FAFAFA;
        }

        .requests-card-panel{
            width: 100%;
            box-shadow: 0 2px 5px 0 #e65100;
            border-radius:0px;
            height: 200px !important;
        }

		.request-card-item {
			min-height: 150px !important;
			border-bottom:1px solid #f9a825;
		}

		.request-card-item .card-item .row {
			margin-bottom:5px;
		}

        @media (max-width: 640px){
            .logo-link{
                margin-left:0px;
            }

            .content-area{
                padding: 0;
            }

            .lfg-paper-fab{
                --paper-fab: {
                     position: fixed;
                     right: 0;
                     bottom: 0;
                     margin-right: 5%;
                     margin-bottom: 3.5%;
                 };
                --paper-fab-background: #e65100;
            }

			.flaticon-update {
				margin-top: 2px !important;
			}
        }
    </style>

    <template>
		<!-- ------------------------ Search Box --------------------------------- -->
		<ul id="search_dropdown" class="dropdown-content" style="min-height: 60px; top: 0px !important; left: 0px !important; min-width: 100% !important; position: absolute; opacity: 1; display: block;">
			<li class="search-input-container" style="vertical-align: middle !important; min-height: 60px !important; cursor:auto;">
				<div class="row" style="min-height:100% !important; margin-bottom: 0px;">
					<div class="col s1" style="margin-top:19px;">
						<paper-icon-button icon="arrow-back" class="grey-text text-darken-1"></paper-icon-button>
					</div>
					<div class="col s11 style-scope request-page" style="margin-top: 18px; font-size:1.5rem;">
						<input id="search_input" type="text" class="validate style-scope request-page" placeholder="Game Title">
					</div>
				</div>
			</li>
		</ul>
		<!-- ------------------------ Search Box --------------------------------- -->
        <paper-drawer-panel>
            <paper-header-panel mode="seamed" drawer>
                <paper-toolbar class="tall lfg-drawer-toolbar">
					<img src="../assets/app/img/images.jpg" alt="" style="border:solid 1px #ffffff; margin-top:130px;" class="circle" width="64" height="64">
					<div class="bottom white-text" style="font-size:1.05rem;">Rammone-X</div>
                </paper-toolbar>
                <div fit class="orange darken-3">
					<side-nav-contents></side-nav-contents>
					<!--<div style="padding-top:20px; height:45vh; border-bottom:1px solid #f57f17;">
						<paper-item><iron-icon icon="view-day"></iron-icon>Requests</paper-item>
						<paper-item><iron-icon icon="star"></iron-icon>Games</paper-item>
						<paper-item><iron-icon icon="event"></iron-icon>Schedule</paper-item>
					</div>
					<div style="padding-top:20px;">
						<paper-item><iron-icon icon="build"></iron-icon>Settings</paper-item>
						<paper-item><iron-icon icon="info"></iron-icon>About</paper-item>
						<paper-item><iron-icon icon="arrow-back"></iron-icon>Sign Out</paper-item>
					</div>-->
				</div>
            </paper-header-panel>
            <paper-header-panel mode="waterfall-tall" main class="lfg-main-header-panel">
                <paper-toolbar class="tall lfg-main-toolbar">
					<paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
                    <!--<paper-icon-button icon="arrow-back"></paper-icon-button>-->
                    <div flex></div>
                    <paper-icon-button id="search_button" icon="search" on-click="showSearch"></paper-icon-button>
                    <!--<paper-icon-button id="sort_menu" icon="sort" data-activates='dropdown1'></paper-icon-button>-->
					<!--<paper-icon-button id="filter_menu" icon="filter-list" on-click="showFilter"></paper-icon-button>-->
					<ul id='dropdown1' class='dropdown-content'>
						<template is="dom-repeat" items="[[sortoptions]]">
							<li><a on-click="changeSort" data-sort$="[[item.column]]">[[item.name]]</a></li>
						</template>
						<!--<li class="divider"></li>
						<li><a href="#!">three</a></li>-->
					</ul>
                    <div class="middle">
                    </div>
                    <div  class="bottom title" style="font-size:1.25rem; margin-left:0px;">Gaming Requests</div>
                </paper-toolbar>

                <div class="grey lighten-3">
					<ul id="request_list" class="collection request-list-item-container" style="margin-top:0;">						
						<template is="dom-repeat" items="{{requests}}">
							<li data-request-key$="[[item.key]]" class="collection-item request-list-item avatar" style="padding-top:20px; padding-bottom:15px !important; height:auto !important;" on-click="loadRequest">
								<i class="mdi-social-person circle"></i>
								<i class$="[[item.sysicon]]"></i>
								<span class="title" style="font-size:1.25rem;">[[item.gametitle]]</span>
								<p style="font-size:0.875rem;">[[item.title]]</p>
								<p class="grey-text truncate" style="font-size:0.8rem; margin-left:50px !important;">[[item.description]]</p>
								<p class="grey-text secondary-content" style="font-size:0.85rem;">[[formatDate(item.created)]]</p>
							</li>
							<!--<p class="grey-text secondary-content" style="margin-top:35px; font-weight:600; text-transform:uppercase;">[[item.system]]</p>-->
							<!--<div class="card-panel white request-list-item request-card-item" data-request-key$="[[item.key]]" on-click="loadRequest">
								<div class="row card-item">
									<div class="col s12 m1"><img src="../assets/app/img/images.jpg" alt="" style="border: 2px solid #ff9800;" class="circle" width="60" height="60"></div>
									<div class="col s12 m9">
										<div class="row">
											<div class="col s12">
												<div class="row">
													<div class="s12 m1"><i class$="[[item.sysicon]]"></i></div>
													<div class="s12 m11">
														<h6 style="font-size:1.35rem;" class="orange-text text-darken-4">[[item.gametitle]]</h6>
													</div>
												</div>
											</div>
											<div class="col s12" style="margin-top:-30px;"><p style="font-size:1.05rem;">[[item.title]]</p></div>
											<div class="col s12" style="margin-top:-15px;"><p class="grey-text" style="font-size:0.85rem;">[[item.description]]</p></div>
										</div>
									</div>
									<div class="col s12 m2">
										<p class="grey-text secondary-content" style="font-size:0.85rem;">[[formatDate(item.created)]]</p>
									</div>
								</div>
							</div>-->
						</template>
					</ul>
                    <paper-fab icon="add" class="lfg-paper-fab white-text text-darken-4" on-click="newRequest"></paper-fab>
                </div>
            </paper-header-panel>
        </paper-drawer-panel>

		<div id="filter_modal" class="modal bottom-sheet" style="display: block; opacity: 0; bottom: -100%;">
			<div class="modal-content">
				<h5>Filter Requests</h5>
				<ul class="collection">
					<li class="collection-item avatar">
						<i class="mdi-file-folder circle"></i>
						<span class="title">Title</span>
						<p>
							First Line <br>
							Second Line
						</p>
						<a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
					</li>
					<li class="collection-item avatar">
						<i class="mdi-file-folder circle"></i>
						<span class="title">Title</span>
						<p>
							First Line <br>
							Second Line
						</p>
						<a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
					</li>
					<li class="collection-item avatar">
						<i class="mdi-action-assessment circle green"></i>
						<span class="title">Title</span>
						<p>
							First Line <br>
							Second Line
						</p>
						<a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
					</li>
					<li class="collection-item avatar">
						<i class="mdi-av-play-arrow circle red"></i>
						<span class="title">Title</span>
						<p>
							First Line <br>
							Second Line
						</p>
						<a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
					</li>
				</ul>
			</div>
		</div>
    </template>
</dom-module>

<script>
    (function(window) {
        var constructor = Polymer({

            is: 'request-page',

            /**
             * ...
             *
             * @attribute properties
             * @type object
             * @default
             */
            properties: {
                firebase: {
                    requests: null,
                    games: null,
                    users: null
                },
                name: 'Requests Page',

                /**
                 * ...
                 *
                 * @attribute thingName
                 * @type string
                 * @default ''
                 */
				notify: true
            },

        	/* Functions */
            changeSort: function (e) {
            	var anchor_elem = e.target;
            	this.dataops.sort = anchor_elem.dataset.sort;

            	//this.getRequests(this.dataops.sort, true);
            	this.getRequests(null, this.querytype.none, false);
            },

            doSearch: function (e) {
            	var query = $('#search_input').val();

            	if ((e.keyCode || e.which) === 13) {
            		/* so the idea here is to take a the text and do a "LIKE" type of query to firebase using "startAt" and "endAt".
					 * I'm not sure atm, whether if/when the user selects the suggested option within the search window, I want to - 
					 * still do a "LIKE" search or do an "EQUAL TO" search. The user might select the title "Street Fighter" but actually
					 * not want street fighter from the 80s, but street fighter  4. Cuz we are using Giant Bomb as reference, whats returned in the
					 * autocomplete ties to a gameid.
					 *
					 * For now, I'm going to always do a "LIKE" Search. We'll see how it plays out :| */

            		this.dataops.query = query;		//save the query incase we need it for scrolling
            		//this.getRequests(this.dataops.sort, true, query.toLowerCase());
            		this.getRequests(query.toLowerCase(), this.querytype.bygame, false);
            		$('#search_dropdown').fadeOut(100);
            	}
            	else {
            		var url = window.lfg.config.getGiantBombUrl(window.lfg.config.apiEndPoints.search);

            		$.ajax({
            			url: url,
            			type: 'GET',
            			cache: false,
            			data: { search: query, limit: 4 },
            			dataType: 'json',
            			success: function (data) {
            				var html = '<li class="divider search-result-item"></li>';
            				$('#search_dropdown').find('.search-result-item').remove();

            				_.each(data.results, function (result) {
            					html += '<li class="search-result-item" data-result-id="' + result.id + '" style="padding: 7px 0px 7px 8.2%;"><a class="search-result-link orange-text text-darken-3">' + result.name + '</a></li>';
            				});
            				$('#search_dropdown').append(html);
            			},
            			error: function (err) {
            			}
            		});
            	}
            },

            doResultSearchWithClick: function (e) {
            	var polymer = this;		//bound to polymer elem
            	var anchor = e.target;

            	var li = $(anchor).parent();
            	var giantbombid = $(li).data('resultId');
            	var game = $(anchor).html().toLowerCase();
            	game = window.lfg.utils.clearWhiteSpace(game);

            	//polymer.getRequests(polymer.dataops.sort, true, game.toLowerCase(), giantbombid);
            	//polymer.getRequests(giantbombid, this.querytype.byid, false);
            	polymer.getRequests(game, this.querytype.bygame, false);
            	e.preventDefault();
            },

            formatDate: function (utc) {
            	return window.lfg.utils.convertUtcToLocal(utc);
            },

            getRequests: function (query, querytype, paginate) {
            	var customElem = this
            	var requestsRef = this.firebaseRef.child('requests');

            	if (paginate) {
            		var lastrequest = this.requests[this.requests.length - 1];

            		//determine query type
            		switch (querytype) {
            			case this.querytype.bygame:
            				query = window.lfg.utils.clearWhiteSpace(query).toLowerCase();

            				//save the query & type (for pagination)
            				this.dataops.query = query;
            				this.dataops.querytype = querytype;

            				//Using a custom index I created to reverse order entries
            				requestsRef
								.orderByChild('gameindex')
								.startAt(lastrequest.gameindex)
								.endAt(query + '~')
								.limitToFirst(this.dataops.limit + 1)
								.on('child_added', function (snapshot) {
									var request = snapshot.val() || {};
									request.key = snapshot.key();
									request.sysicon = customElem.getSystemIcon(request.system);
									if (request.gameindex !== lastrequest.gameindex) { customElem.push('requests', request); };
								});
            				break;

            			case this.querytype.byid:
            				//save the query & type (for pagination)
            				this.dataops.query = query;
            				this.dataops.querytype = querytype;

            				requestsRef
								.orderByChild('giantbombindex')
								.startAt(lastrequest.giantbombindex.toString())
								.endAt(lastrequest.giantbombindex + '~')
								.limitToFirst(this.dataops.limit + 1)
								.on('child_added', function (snapshot) {
									var request = snapshot.val() || {};
									request.key = snapshot.key();
									request.sysicon = customElem.getSystemIcon(request.system);
									if (request.giantbombindex !== lastrequest.giantbombindex) { customElem.push('requests', request); };
								});
            				break;

            			default:
            				//no query, so just go by priority
            				//save the query & type (for pagination)
            				this.dataops.querytype = querytype;

            				requestsRef
								.orderByPriority()
								.startAt(lastrequest.priority)
								.limitToFirst(this.dataops.limit + 1)
								.on("child_added", function (snapshot) {
									var request = snapshot.val() || {};
									request.key = snapshot.key();
									request.priority = snapshot.getPriority();
									request.sysicon = customElem.getSystemIcon(request.system);
									if (request.priority !== lastrequest.priority) { customElem.push('requests', request); };
								}, function (errorObject) {
									console.log("The read failed: " + errorObject.code);
								});
            				break;
            		}
            	}
            	else {
            		this.requests = [];
            		switch (querytype) {
            			case this.querytype.bygame:          				
            				query = window.lfg.utils.clearWhiteSpace(query).toLowerCase();	//querying by game title, so prepare query    

            				//save the query & type (for pagination)
            				this.dataops.query = query;
            				this.dataops.querytype = querytype;

            				requestsRef				
								.orderByChild('gameindex')
								.startAt(query)
								.endAt(query + '~')
								.limitToFirst(this.dataops.limit)
								.on('child_added', function (snapshot) {
									var request = snapshot.val() || {};
									request.key = snapshot.key();
									request.sysicon = customElem.getSystemIcon(request.system);
									customElem.push('requests', request);
								});
            				break;

            			case this.querytype.byid:

            				//save the query & type (for pagination)
            				this.dataops.query = query;
            				this.dataops.querytype = querytype;

            				requestsRef
								.orderByChild('giantbombindex')
								.startAt(query.toString())
								.endAt(query + '~')
								.limitToFirst(this.dataops.limit)
								.on('child_added', function (snapshot) {
									var request = snapshot.val() || {};
									request.key = snapshot.key();
									request.sysicon = customElem.getSystemIcon(request.system);
									customElem.push('requests', request);
								});
            				break;

            			default:
            				//save the query & type (for pagination)
            				this.dataops.querytype = querytype;

            				requestsRef
								.orderByPriority()
								.limitToFirst(this.dataops.limit)
								.on("child_added", function (snapshot) {
									var request = snapshot.val() || {};
									request.priority = snapshot.getPriority();
									request.key = snapshot.key();
									request.sysicon = customElem.getSystemIcon(request.system);
									customElem.push('requests', request);
								}, function (errorObject) {
									console.log("The read failed: " + errorObject.code);
								});
            				break;
            		}
            	}
            },

            getSystemIcon: function (system) {

            	var classAppend = 'left flaticon-update';

            	switch (system) {
            	
            		case 'pc':
            			return 'flaticon-monitor49 ' + classAppend;
            			break;

            		case 'ps3':
            			return 'flaticon-ps46 ' + classAppend;
            			break;

            		case 'ps4':
            			return 'flaticon-game27 ' + classAppend;
            			break;

            		case 'xbox360':
            			return 'flaticon-xbox19 ' + classAppend;
            			break;

            		case 'xboxone':
            			return 'flaticon-xbox12 ' + classAppend;
            			break;

            		case 'wii':
            			return 'flaticon-wii14 ' + classAppend;
            			break;

            		case 'wiiu':
            			return 'flaticon-wii12 ' + classAppend;
            			break;
            	}
            },

            loadRequest: function (e) {
            	var listelem = e.target;
            	if (listelem.className.indexOf('request-card-item') === -1 && listelem.className.indexOf('request-list-item') === -1) {
            		var elem = $(listelem).parents('.request-card-item')[0];
            		listelem = elem === null || elem === undefined ? $(listelem).parents('.request-list-item')[0] : elem;
            	}

            	var requestkey = listelem.dataset.requestKey;
            	if (requestkey) {
            		document.querySelector('app-router').go('/request/' + requestkey);
            	}
            },

            showFilter: function () {
            	$(this.$.filter_modal).openModal();
            },

            showSearch: function () {
                $(this.$.search_dropdown).fadeIn(100, function () {
                    $('#search_input').focus();
                });
            },

            containerScroll: function (e) {
            	var container = e.target;
            	if ($(container).scrollTop() + $(container).innerHeight() >= e.target.scrollHeight) {
            		// reached bottom of page - run our call for pagination
            		//this.getRequests(polymer.dataops.sort, true, game.toLowerCase(), giantbombid);
            		this.getRequests(this.dataops.query, this.dataops.querytype, true);
            	}
            },

			/* Init */
            initializeData: function () {

            	this.firebaseUrl = window.lfg.config.getFirebaseUrl() + '/requests';

            	this.systems = [
					{ name: 'PC', value: 'pc' },
					{ name: 'PS3', value: 'ps3' },
					{ name: 'PS4', value: 'ps4' },
					{ name: 'Xbox 360', value: 'xbox360' },
					{ name: 'Xbox One', value: 'xboxOne' },
					{ name: 'Wii', value: 'wii' },
					{ name: 'Wii U', value: 'wiiu' }
            	];

            	this.sortoptions = [
					{ name: 'Date Created', column: 'created' },
					{ name: 'Game', column: 'game' },
            	];

            	this.querytype = {
            		bygame: 'bygame',
            		byid: 'byid',
					none: 'none'
            	};

            	this.dataops = {
					orderby: '',
            		sort: 'created',
            		filter: '',
            		query: '',
            		type: this.querytype.none,
					limit: 50,
            	}

            	this.firebaseRef = new Firebase(window.lfg.config.getFirebaseUrl());

            	this.requests = [];

                //hide elements
            	$(this.$.filter_modal).hide();
            	$(this.$.search_dropdown).hide();
            },

            registerEvents: function () {
            	var polymer = this;

            	$('#search_input').on('focusout', function () { $('#search_dropdown').fadeOut(100); })
            	$('#search_input').on('keypress', this.doSearch.bind(this));
            	$('#mainContainer').scroll(this.containerScroll.bind(this));
            	$(document).on('click', '.search-result-link', this.doResultSearchWithClick.bind(this));
            },

            registerPlugins: function() {
            	$(this.$.sort_menu).dropdown({
            		inDuration: 300,
            		outDuration: 225,
            		constrain_width: false, // Does not change width of dropdown to that of the activator
            		hover: false, // Activate on hover
            		gutter: 0, // Spacing from edge
            		belowOrigin: false // Displays dropdown below the button
            	});
            },

			/* Events */
            newRequest: function(){
                document.querySelector('app-router').go('/new');
            },

            ready: function () {
            	this.initializeData();
            },

            attached: function () {
            	//this.getRequests(this.dataops.sort);
            	this.getRequests(null, this.querytype.none, false);
            	this.registerPlugins();
            	this.registerEvents();
            }
        });
    })(window);
</script>