<link rel="import" href="../components/bower_components/polymer/polymer.html">
<link rel="import" href="../components/bower_components/polymer/layout.html">

<!-- Fonts -->
<link rel='import' href='../components/bower_components/font-roboto/roboto.html'>

<link rel="import" href="../components/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/av-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/image-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/notification-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/social-icons.html">

<link rel="import" href="../components/bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../components/bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../components/bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../components/bower_components/paper-item/paper-item.html">
<link rel="import" href="../components/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../components/bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../components/bower_components/paper-toolbar/paper-toolbar.html">

<!-- Google Custom Elements-->
<link rel="import" href="../components/bower_components/firebase-element/firebase-collection.html">


<dom-module id="request-page">
    <!-- CSS -->
    <link rel="import" type="css" href="../assets/materialize/css/materialize.css"  />
    <link rel="import" type="css" href='../assets/app/css/lfg.css'>

    <style>
        :host{
        }

        .logo-link{
            text-decoration: none;
            font-size:2rem;
            color:#ffffff;
            margin-left:-15px !important;
        }

        .lfg-main-toolbar{
            --paper-toolbar-background:{
                 background-color: transparent !important;
             };
        }

        .lfg-drawer-toolbar{
            --paper-toolbar-background: #ef6c00;
        }

        #paper-header-panel{
            border-bottom: solid 1px #ffffff;
        }

        .lfg-main-header-panel{
            --paper-header-panel-cover-container:{
                border: solid 1px #ffffff;
             };
        }

        .lfg-paper-fab{
            --paper-fab: {
                position: fixed;
                right: 0;
                bottom: 0;
                 margin-right: 3%;
                 margin-bottom: 3%;
             };
            --paper-fab-background: #e65100;
        }

        .bottom-bar{
            margin-left:0px !important;
        }

        .content-area{
            padding:0 15% 15% 15%;
            background-color:#FAFAFA;
        }

        .requests-card-panel{
            width: 100%;
            box-shadow: 0 2px 5px 0 #e65100;
            border-radius:0px;
            height: 1200px !important;
        }


        @media (max-width: 640px){
            .logo-link{
                margin-left:0px;
            }

            .content-area{
                padding: 0;
            }

            .lfg-paper-fab{
                --paper-fab: {
                     position: fixed;
                     right: 0;
                     bottom: 0;
                     margin-right: 3.5%;
                     margin-bottom: 3.5%;
                 };
                --paper-fab-background: #e65100;
            }
        }
    </style>

    <template>
        <paper-drawer-panel>
            <paper-header-panel mode="seamed" drawer>
                <paper-toolbar class="tall lfg-drawer-toolbar">
                </paper-toolbar>
                <div fit class="orange darken-3"></div>
            </paper-header-panel>
            <paper-header-panel mode="waterfall-tall" main class="lfg-main-header-panel">
                <paper-toolbar class="tall lfg-main-toolbar">
                    <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
                    <!--<paper-icon-button icon="arrow-back"></paper-icon-button>-->
                    <div flex></div>
                    <paper-icon-button icon="search"></paper-icon-button>
                    <paper-icon-button id="sort_menu" icon="sort" data-activates='dropdown1'></paper-icon-button>
					<paper-icon-button id="filter_menu" icon="filter-list" on-click="showFilter"></paper-icon-button>
					<ul id='search_dropdown' class='dropdown-content'>
						<li>
							<div class="row">
								<div class="col s1"></div>
								<div class="col s10"></div>
								<div class="col s1"></div>
							</div>
						</li>
						<li class="divider"></li>
						<li><a href="#!">Search</a></li>
						<li><a href="#!">Results</a></li>
						<li><a href="#!">Listed</a></li>
						<li><a href="#!">Here</a></li>
					</ul>
					<ul id='dropdown1' class='dropdown-content'>
						<template is="dom-repeat" items="[[sortoptions]]">
							<li><a on-click="changeSort" data-sort$="[[item.column]]">[[item.name]]</a></li>
						</template>
						<!--<li class="divider"></li>
						<li><a href="#!">three</a></li>-->
					</ul>
                    <div class="middle">
                    </div>
                    <div title class="bottom bottom-bar">
                        <a href="/" class="logo-link">Gaming Requests</a>
                    </div>
                </paper-toolbar>

                <div class="white" fit>
					<ul class="collection" style="margin-top:0;">
						
						<template is="dom-repeat" items="{{requests}}">
							<li class="collection-item avatar" style="padding-top:20px; padding-bottom:15px !important; height:auto !important;">
								<i class="mdi-social-person circle"></i>
								<span class="title" style="font-size:1.25rem;">[[item.game]]</span>
								<p style="font-size:0.875rem;">[[item.title]]</p>
								<p class="grey-text truncate" style="font-size:0.8rem;">Lorem ipsum dolor sit amet, ius simul possit perfecto te, ad vel facete</p>
								<p class="grey-text secondary-content" style="font-size:0.85rem;">[[formatDate(item.datetime)]]</p>
								<!--<p class="grey-text secondary-content" style="margin-top:35px; font-weight:600; text-transform:uppercase;">[[item.system]]</p>-->
							</li>
						</template>
					</ul>
                    <paper-fab icon="add" class="lfg-paper-fab" on-click="newRequest"></paper-fab>
                </div>
            </paper-header-panel>
        </paper-drawer-panel>

		<div id="filter_modal" class="modal bottom-sheet" style="display: block; opacity: 0; bottom: -100%;">
			<div class="modal-content">
				<h5>Filter Requests</h5>
				<ul class="collection">
					<li class="collection-item avatar">
						<i class="mdi-file-folder circle"></i>
						<span class="title">Title</span>
						<p>
							First Line <br>
							Second Line
						</p>
						<a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
					</li>
					<li class="collection-item avatar">
						<i class="mdi-file-folder circle"></i>
						<span class="title">Title</span>
						<p>
							First Line <br>
							Second Line
						</p>
						<a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
					</li>
					<li class="collection-item avatar">
						<i class="mdi-action-assessment circle green"></i>
						<span class="title">Title</span>
						<p>
							First Line <br>
							Second Line
						</p>
						<a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
					</li>
					<li class="collection-item avatar">
						<i class="mdi-av-play-arrow circle red"></i>
						<span class="title">Title</span>
						<p>
							First Line <br>
							Second Line
						</p>
						<a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
					</li>
				</ul>
			</div>
		</div>
    </template>
</dom-module>

<script>
    (function(window) {
        var constructor = Polymer({

            is: 'request-page',

            /**
             * ...
             *
             * @attribute properties
             * @type object
             * @default
             */
            properties: {
                firebase: {
                    requests: null,
                    games: null,
                    users: null
                },
                name: 'Requests Page',

                /**
                 * ...
                 *
                 * @attribute thingName
                 * @type string
                 * @default ''
                 */
				notify: true
            },

        	/* Functions */
            changeSort: function (e) {
            	var anchor_elem = e.target;
            	this.dataops.sort = anchor_elem.dataset.sort;

            	this.getRequests(this.dataops.sort, true);
            },

            formatDate: function (utc) {
            	var date = new Date(utc);
            	return date.toString('MMMM dd, yyyy h:mm tt');
            },

            getRequests: function (orderby, clear) {
				var customElem = this
				var requestsRef = this.firebaseRef.child('requests');

				if (clear) { this.requests = []; };	//clear the array

            	requestsRef.orderByChild(orderby).on("value", function (snapshot) {
            		//add to the list of requests...polymer should do the rest via template 2-way binding awesomeness.

            		snapshot.forEach(function (child) {
            			var request = child.val();
            			customElem.push('requests', request); //Thank you so much flashback2k14 from Stack Overflow: http://stackoverflow.com/questions/30716483/polymer-1-0-problems-with-dom-repeat
            		});

            	}, function (errorObject) {
            		console.log("The read failed: " + errorObject.code);
            	});
            },

            showFilter: function () {
            	$(this.$.filter_modal).openModal();
            },

			/* Init */
            initializeData: function () {

            	this.firebaseUrl = window.lfg.config.getFirebaseUrl() + '/requests';

            	this.systems = [
					{ name: 'PC', value: 'pc' },
					{ name: 'PS3', value: 'ps3' },
					{ name: 'PS4', value: 'ps4' },
					{ name: 'Xbox 360', value: 'xbox360' },
					{ name: 'Xbox One', value: 'xboxOne' },
					{ name: 'Wii', value: 'wii' },
					{ name: 'Wii U', value: 'wiiu' }
            	];

            	this.sortoptions = [
					{ name: 'Date Created', column: 'created' },
					{ name: 'Game', column: 'game' },
            	];

            	this.dataops = {
            		sort: 'created',
					filter: ''
            	}

            	this.firebaseRef = new Firebase(window.lfg.config.getFirebaseUrl());

            	this.requests = [];

            	$(this.$.filter_modal).hide();
            },

            registerPlugins: function() {
            	$(this.$.sort_menu).dropdown({
            		inDuration: 300,
            		outDuration: 225,
            		constrain_width: false, // Does not change width of dropdown to that of the activator
            		hover: false, // Activate on hover
            		gutter: 0, // Spacing from edge
            		belowOrigin: false // Displays dropdown below the button
            	});
            },

			/* Events */
            newRequest: function(){
                document.querySelector('app-router').go('/new');
            },

            ready: function () {
            	this.initializeData();
            },

            attached: function () {
            	this.getRequests(this.dataops.sort);
            	this.registerPlugins();
            }
        });
    })(window);
</script>