<link rel="import" href="../components/bower_components/polymer/polymer.html">
<link rel="import" href="../components/bower_components/polymer/layout.html">

<!-- Fonts -->
<link rel='import' href='../components/bower_components/font-roboto/roboto.html'>

<link rel="import" href="../components/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/av-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/image-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/notification-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/social-icons.html">

<link rel="import" href="../components/bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../components/bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../components/bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../components/bower_components/paper-item/paper-item.html">
<link rel="import" href="../components/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../components/bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../components/bower_components/paper-toolbar/paper-toolbar.html">

<!--Custom Imports-->
<link rel="import" href="../imports/font-awesome.html">
<link rel="import" href="../imports/material_icons.html" />
<link rel="import" href="../imports/materialize.html" />

<dom-module id="request-details">

	<style>
		:host {
		}

		.logo-link {
			text-decoration: none;
			font-size: 2rem;
			color: #ffffff;
			margin-left: -15px !important;
		}

		.comment-area {
			/*height: 200px;
			max-height: 200px !important;
			padding:0px 20px 10px 20px;
			overflow-y: scroll !important;*/
			
		}

		.row {
			margin-bottom: 0 !important;
			margin-top: 0 !important;
			line-height: 1;
		}

		.comment-button-row {
		    margin-top: 20px !important;
		}

		input[type=text].request-page {
			background-color: transparent;
			border: none;
			border-bottom: none !important;
			border-radius: 0;
			outline: none;
			height: 3rem;
			width: 100%;
			font-size: 1.5rem !important;
			font-weight: 400;
			margin: 0 0 15px 0;
			padding: 0;
		}

		/* label underline focus color */
		input[type=text].request-page:focus {
			border-bottom: none;
			box-shadow: none;
		}
		/* valid color */
		input[type=text].request-page.valid {
			border-bottom: none !important;
			box-shadow: none !important;
		}
		/* invalid color */
		input[type=text].request-page.invalid {
			border-bottom: none;
			box-shadow: none;
		}

		.request-list-item {
			cursor: pointer;
		}

		.lfg-main-toolbar {
			--paper-toolbar-background:
			{
				background-color: transparent !important;
			};
		}

		.lfg-drawer-toolbar {
			--paper-toolbar-background: #ef6c00;
		}

		#paper-header-panel {
			border-bottom: solid 1px #ffffff;
		}

		.lfg-main-header-panel {
			--paper-header-panel-cover-container:
			{
				border: solid 1px #ffffff;
			};
		}

		.lfg-paper-fab {
			--paper-fab:
			{
				position: fixed;
				right: 0;
				bottom: 0;
				margin-right: 3%;
				margin-bottom: 3%;
			}; 
			--paper-fab-background: #e65100;
		}

		.collection-item {
			height: auto !important;
			padding-top: 20px !important;
			padding-bottom: 40px !important;
		}

		.bottom-bar {
			margin-left: 0px !important;
		}

		.content-area {
			padding: 0 3% 3% 3%;
		}

		.requests-card-panel {
			width: 100%;
			box-shadow: 0 2px 5px 0 #e65100;
			border-radius: 0px;
			height: 290px !important;
		}

		.comments-card-panel {
			width: 100%;
			box-shadow: 0 2px 5px 0 #e65100;
			border-radius: 0px;
			padding:0;
		}


		@media (max-width: 640px) {
			.logo-link {
				margin-left: 0px;
			}

			.content-area {
				padding: 0;
			}

			.lfg-paper-fab {
				--paper-fab:
				{
					position: fixed;
					right: 0;
					bottom: 0;
					margin-right: 3.5%;
					margin-bottom: 3.5%;
				}; 
				 
				--paper-fab-background: #e65100;
			}
		}
	</style>

	<template>
		<paper-drawer-panel>
			<paper-header-panel mode="seamed" drawer>
				<paper-toolbar class="tall lfg-drawer-toolbar">

				</paper-toolbar>
				<div fit class="orange darken-3">Drawer Content</div>
			</paper-header-panel>
			<paper-header-panel mode="scroll" main class="lfg-main-header-panel">
				<paper-toolbar class="tall lfg-main-toolbar">
					<paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
					<paper-icon-button icon="arrow-back" on-click="goToList"></paper-icon-button>
					<div flex></div>
					<!--<paper-icon-button icon="more-vert"></paper-icon-button>-->
					<div class="middle"></div>
					<div title class="bottom bottom-bar"></div>
				</paper-toolbar>
				<div fit class="content-area">
					<div class="row">
						<div class="col s12 m1">
							<img src="../assets/app/img/images.jpg" alt="" style="border: 2px solid white;" class="circle" width="60" height="60">
						</div>
						<div class="col s12 m8 white-text"><h5 style="font-weight:200;"><span class="yellow-text">[[user.username]]</span>'s Gaming Request</h5></div>
						<div class="col s12 m3 white-text" style="margin-top:10px;">
							<i class="fa fa-facebook-square fa-2x white-text" style="padding-right:10px;"></i>
							<i class="fa fa-twitter-square fa-2x white-text" style="padding-right:10px;"></i>
							<i class="fa fa-google-plus-square fa-2x white-text" style="padding-right:10px;"></i>
							<!--<i class="fa fa-comment fa-2x white-text" style="padding-right:10px;"></i>-->
							<!--<i class="fa fa-envelope fa-2x white-text" style="padding-right:10px;"></i>-->
						</div>
					</div>
					<br /><br />
					<div class="row request-details">
						<div class="col s12 m4">
							<div class="card-panel white requests-card-panel">
							</div>
						</div>
						<div class="col s12 m8">
							<div class="row">
								<div class="col s12" style="margin-top:10px;"><h6 class="yellow-text" style="font-size:1.5rem; font-weight:300;">[[request.gametitle]]</h6></div>
								<div class="col s12"><h4 class="white-text">[[request.title]]</h4>
								</div>
							</div>
							<br />
							<div class="row">
								<div class="col s12 m2 input-field">
									<h6 class="yellow-text" style="font-weight:300;">
									<i class="fa fa-clock-o yellow-text" style="padding-right:5px;"></i>When</h6>
								</div>
								<div class="col s12 m9 input-field">
									<h6 class="white-text">[[formatDate(request.datetime)]]</h6>
								</div>
							</div>
							<div class="row">
								<div class="col s12 m2 input-field">
									<h6 class="yellow-text" style="font-weight:300;">
										<i class="fa fa-gamepad yellow-text" style="padding-right:5px;"></i>System</h6>
								</div>
								<div class="col s12 m9 input-field">
									<h6 class="white-text">[[formatSystem(request.system)]]</h6>
								</div>
							</div>
							<template is="dom-if" if="[[request.gamertag]]">
								<div class="row">
									<div class="col s12 m2 input-field">
										<h6 class="yellow-text" style="font-weight:300;">
											<i class="fa fa-tag yellow-text" style="padding-right:5px;"></i>Gamertag
										</h6>
									</div>
									<div class="col s12 m9 input-field">
										<h6 class="white-text">Rammone-X</h6>
									</div>
								</div>
							</template>
							<div class="row">
								<div class="col s12 m2 input-field">
									<h6 class="yellow-text" style="font-weight:300;">
										<i class="fa fa-microphone yellow-text" style="padding-right:5px;"></i>Mic</h6>
								</div>
								<div class="col s12 m9 input-field">
									<h6 class="white-text">[[formatMicRequest(request.mic)]]</h6>
								</div>
							</div>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col s12 input-field">
							<h6 class="yellow-text" style="font-weight:300;">
								<i class="fa fa-file-text yellow-text" style="padding-right:5px;"></i>Description
							</h6>
							<p class="white-text" style="font-weight:300; font-size: 1.15rem;">[[request.description]]</p>
						</div>
					</div>
					<br /><br />
					<div class="white-text col s12 center-align"><h5 style="font-weight:300;">Comments</h5></div>
					<div class="row">
						<!--Text Editor-->
						<textarea id="comment_editor">
							
						</textarea>
					</div>
					<div class="row comment-button-row">
						<div class="col s6">
							<a class="waves-effect waves-light btn orange darken-4 white-text" on-click="addComment">Post Comment</a>
						</div>
					</div>

					<div class="row" style="margin-top:10% !important;">
						<div class="input-field card-panel comments-card-panel">
							<ul id="request_comments_list" class="collection">
								<!--<li class="collection-item avatar">
									<i class="mdi-file-folder circle"></i>
									<span class="title"><strong>CoolGamer</strong> wrote:</span><br /><br />
									<p>
										Lorem ipsum dolor sit amet, an alterum suscipiantur est, sint animal in mel, cu latine voluptatum ius. Eu exerci mediocrem per, ad sumo platonem efficiantur has. Sit in accumsan forensibus mediocritatem, id pri magna veniam, amet vocent vulputate ei cum. Prima omnes vidisse eum et, ex accusam sapientem vulputate ius, laudem percipit signiferumque pri id. Nam at atqui nominavi, cu viris evertitur persequeris qui.
										Harum everti no has, duo esse quando no. Putant molestiae pro ea. Eu eros imperdiet consequuntur duo, eu duis quando constituam nam. Dicta latine periculis per ei. Cu hendrerit theophrastus sed, sanctus tincidunt sententiae vim ei. Iriure bonorum saperet ne has.
										Erat corpora et his. Putant expetendis interpretaris mea eu. Odio commodo pri et. Cu ius equidem scripserit, at has omnesque perpetua. Eos purto recusabo persecuti te, mollis maiorum
									</p>
									<a href="" class="grey-text secondary-content">June 23rd, 2015 @ 6:30AM</a>
								</li>-->
								<!--template is="dom-repeat" items="[[request.comments]]">
									<li class="collection-item avatar">
										<img src="images/yuna.jpg" alt="" class="circle">
										<i class="mdi-file-folder circle"></i>
										<span class="title"><strong>[[getCommenter(item.userkey)]]</strong> wrote:</span><br /><br />
										<div id="[[setCommentId(item.id)]]" class="comment-placeholder" changed="[[setComment(item.id, item.comment)]]"></div>
										<a href="" class="grey-text secondary-content">[[formatDate(item.created)]]</a>
									</li>
								</!--template>-->
							</ul>
						</div>
					</div>
				</div>
			</paper-header-panel>
		</paper-drawer-panel>
	</template>
</dom-module>

<script>
	(function (window) {
        var constructor = Polymer({

        	is: 'request-details',

            /**
             * ...
             *
             * @attribute properties
             * @type object
             * @default
             */
            properties: {
            	elementname: 'Request Details Page',
            	requestkey: {
            		type: String,
					notify: true
            	}
                /**
                 * ...
                 *
                 * @attribute thingName
                 * @type string
                 * @default ''
                 */
            },

            addComment: function () {
            	var comment = CKEDITOR.instances.comment_editor.getData();
            	if (comment == null || comment == undefined || comment == '') {
            		//throw error
            		return;
            	}

            	//Escape user input from ckEditor
            	comment = filterXSS(comment);

            	var requestCommentRef = new Firebase(window.lfg.config.getFirebaseUrl() + 'requests/' + this.requestkey + '/comments');
            	var newCommentRef = requestCommentRef.push({
            		userkey: '',
            		comment: comment,
            		created: this.convertDateToUtc(new Date.now())
            	});
            	var key = newCommentRef.key();
            	if (key !== null && key !== undefined && key !== '')
            		Materialize.toast('Comment Added', 4000);
            },

            commentAddedHandler: function (requestKey) {
            	var customElem = this;
            	var requestCommentRef = new Firebase(window.lfg.config.getFirebaseUrl() + 'requests/' + requestKey + '/comments');

            	requestCommentRef.on('child_added', function (snapshot) {	//I LUV U Firebase :D
            		var comment = snapshot.val();
            		comment.id = snapshot.key();
            		customElem.request.comments.push(comment);

            		var commentHtml = '';
            		commentHtml += '<li class="collection-item avatar" style="padding-top: 20px; padding-bottom: 40px;">';
            		commentHtml += '<i class="mdi-file-folder circle"></i>';
            		commentHtml += '<span class="title"><strong>' + customElem.getCommenter(comment.userkey) + '</strong> wrote:</span><br /><br />';
            		commentHtml += '<div id="' + customElem.setCommentId(comment.id) + '" class="comment-placeholder" >' + comment.comment + '</div>';
            		commentHtml += '<a href="" class="grey-text secondary-content">' + customElem.formatDate(comment.created) + '</a>';
            		commentHtml += '</li>';

            		//Add comments
            		$(customElem.$.request_comments_list).append(commentHtml);
            	});
            },

            setCommentId: function (id) {
            	return 'div_' + id;
            },

            setComment: function (id, comments) {
            	var divId = 'div_' + id;
            	var div = this.$$(divId);
            	var dav = div;
            },


            convertDateToUtc: function (date) {
            	return Date.UTC(
					date.getFullYear(),
					date.getMonth(),
					date.getDate(),
					date.getHours(),
					date.getMinutes(),
					date.getSeconds()
				)
            },

            formatDate: function (utc) {
            	var date = new Date(utc);
            	return date.toString('MMMM dd, yyyy h:mm tt');
            },

            formatMicRequest: function (mic) {
            	return mic ? 'Required' : 'Not Required';
            },

            formatSystem: function (system) {
            	switch (system) {
            		case 'pc':
            			return 'PC';
            			break;

            		case 'ps3':
            			return 'PS3';
            			break;

            		case 'ps4':
            			return 'PS4';
            			break;

            		case 'xbox360':
            			return 'Xbox 360';
            			break;

            		case 'xboxOne':
            			return 'Xbox One';
            			break;

            		case 'wii':
            			return 'Wii';
            			break;

            		case 'wiiu':
            			return 'Wii U';
            			break;

            		case 'steam':
            			return 'Steam';
            			break;
            	}
            },

            getCommenter: function (username) {
            	return 'CoolGamer';
            },

            getRequest: function (key) {
            	var customElem = this;
            	var requestRef = new Firebase(window.lfg.config.getFirebaseUrl() + 'requests/' + this.requestkey);
            	
            	requestRef.once('value', function (snapshot) {	//I LUV U Firebase :D. Data will be read once for initial request
            		var request = snapshot.val();
            		request.id = snapshot.key();

            		//Because of Polymer XSS security features, html cannot be databound to DOM elements (escaped or otherwise).
            		//we'll need to append the whole list via DOM injection the first time, and set a handler for any new comments added (later)
            		customElem.request = request;
            		customElem.request.comments = []

            		//Add comments and set handler for new comments
            		customElem.commentAddedHandler(request.id);
            	});
            },

            getRequestKey: function(){
            	//app-router doesn support Polymer 1.0. Get hash and requestkey manually
            	var hash = window.location.hash;
            	this.requestkey = hash.substring(hash.lastIndexOf('/') + 1);
            },

            getLookupData: function(){
                //Gets lookup data from Giant Bomb
                var config = window.lfg.config;
                $.get(config.appUrl)
            },

            insertCommentHtml: function(html){
            },


            initializeData: function () {
            	this.getRequestKey();
            	this.request = {
            		comments: []
            	};
            	this.user = {
            		username: 'Rammone-X',
					id: ''
            	};
            },

            registerPlugins: function () {
            	CKEDITOR.replace('comment_editor', {
            		toolbarGroups: [
						{ name: 'document', groups: ['mode', 'document'] },			// Displays document group with its two subgroups.
 						{ name: 'clipboard', groups: ['clipboard', 'undo'] },			// Group's name will be used to create voice label.
 						{ name: 'basicstyles', groups: ['basicstyles', 'cleanup'] },
 						{ name: 'links' }
            		],
            		uiColor: '#ffffff',
            		htmlEncodeOutput: false
            	});
            },

            registerEvents: function () {
            	$('.comment-hidden-trigger').on('change', function () {
            		alert($(this).val());
            	})
            },

            created: function () {
				//Part of Polymer lifecycle
            },

            ready: function () {
            	this.initializeData();
            	this.getRequest(this.requestkey);
            },

            attached: function () {
            	//called after ready();
            	this.registerPlugins();
            	this.registerEvents();
            }
        });
    })(window);
</script>