<link rel="import" href="../components/bower_components/polymer/polymer.html">
<link rel="import" href="../imports/layout.html">

<!-- Fonts -->
<link rel='import' href='../components/bower_components/font-roboto/roboto.html'>

<link rel="import" href="../components/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/av-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/image-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/notification-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/social-icons.html">

<link rel="import" href="../components/bower_components/iron-form/iron-form.html">

<link rel="import" href="../components/bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../components/bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../components/bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../components/bower_components/paper-item/paper-item.html">
<link rel="import" href="../components/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../components/bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../components/bower_components/paper-toolbar/paper-toolbar.html">

<!-- Custom Imports -->
<link rel="import" href="../imports/font-awesome.html">
<link rel="import" href="../imports/materialize.html" />
<link rel="import" href="../imports/material_icons.html" />
<link rel="import" href="../imports/flaticons.html" />

<script type="text/javascript" src="http://localhost:8089/faye/client.js"></script>

<dom-module id="sign-in">
	<!-- CSS -->
	<link rel="import" type="css" href='../assets/app/css/lfg.css'>

	<style>
		:host {
		}

		.sign-in-flaticon-update {
			font-size: 50px !important;
			color: #ffffff;
			margin-top: -15px;
		}

		.regular-text {
			text-transform:none;
		}

		.sign-in-button {
			width: 300px;
		}

		[type="checkbox"].filled-in:checked + label:after {
			border: 2px solid #e65100;
			background-color: #e65100;
		}
		
	</style>

	<template>
		<div layout fit vertical center-center class="orange darken-1">
			<div class="layout horizontal">
				<h4 class="white-text thin">Sign in & Start Gaming with Gamers</h4>
			</div>
			<div layout horizontal>
				<i class="flaticon-xbox12 sign-in-flaticon-update"></i>
				<i class="flaticon-xbox19 sign-in-flaticon-update"></i>
				<i class="flaticon-game27 sign-in-flaticon-update"></i>
				<i class="flaticon-ps46 sign-in-flaticon-update"></i>
				<i class="flaticon-wii14 sign-in-flaticon-update"></i>
				<i class="flaticon-wii12 sign-in-flaticon-update"></i>
				<i class="flaticon-monitor49 sign-in-flaticon-update"></i>
			</div>
			<br /><br />
			<div>
				<a class="waves-effect waves-light btn light-blue darken-4 white-text sign-in-button regular-text" on-click="signInWithFacebook">
					<i class="fa fa-facebook left"></i>
					Sign in with Facebook
				</a>
			</div>
			<br />
			<div>
				<a class="waves-effect waves-purple btn light-blue accent-3 white-text sign-in-button regular-text" on-click="signInWithTwitter">
					<i class="fa fa-twitter left"></i>
					Sign in with Twitter
				</a>
			</div>
			<br />
			<div>
				<a class="waves-effect waves-light btn red darken-2 white-text sign-in-button regular-text" on-click="signInWithGoogle">
					<i class="fa fa-google left"></i>
					Sign in with Google
				</a>
			</div>
			<br />
			<div>
				<a class="waves-effect waves-light btn light-green darken-3 white-text sign-in-button regular-text" on-click="signInWithSteam">
					<i class="fa fa-steam-square left"></i>
					Sign in with Steam
				</a>
			</div>
			<br />
			<div>
				<p>
					<input type="checkbox" id="keep_signed" class="filled-in" checked="{{login.keepsignin}}" />
					<label for="keep_signed" class="white-text">Keep me logged in</label>
				</p>
			</div>
			<br />
			<div>
				<p class="white-text">By signing in to GWG, you agree to our <a href="#termsagree" class="yellow-text text-accent-2 modal-trigger" style="cursor:pointer;">Terms & Data Policy</a></p>
			</div>
		</div>

		<div id="loginerror" class="modal">
			<div class="modal-content center-align center">
				<i class="material-icons medium grey-text text-darken-2">mood_bad</i>
				<p style="font-size:1.15rem;">Oh Noez!!! We had a little trouble signing you in. Don't panic, try to sign-in again. If that doesn't work then, erm....oh, try petting a porcupine! That'll do it for sure...ok, ok don't do that. Open a trouble ticket <a style="cursor:pointer;">here</a></p>
			</div>
		</div>

		<div id="termsagree" class="modal">
			<div class="modal-content orange-text text-darken-4">
				<p>
					Lorem ipsum dolor sit amet, eu dicit gubergren liberavisse eam, lorem solet nonumes id vis, simul accusamus ex pri. Te dicunt impedit eam, eam maiorum mnesarchum efficiendi ad, cum an veri omittantur theophrastus. Has ea invenire torquatos. In reque tibique fierent est, vis ei adhuc simul vivendo, at quo enim iusto inciderint.
				</p>
				<p>
					Iisque scaevola ius cu, pri fierent facilisi ad. Pro ne alterum fabulas, per ad quidam commodo moderatius. Vim ut nulla delicata, ei atqui persecuti has. Ius ei nominavi persecuti
				</p>
				<p>
					Malorum legendos ea his. Est an prompta praesent definitionem. An sea cibo velit atomorum, ea cum erroribus torquatos. Ex sanctus appetere mediocritatem sed, quo ut possim adolescens vituperata, quo an homero feugiat. Dicant commodo voluptua te vim, te sea iudicabit abhorreant, pro ex ullamcorper vituperatoribus.
				</p>
				<p>
					Ea vis iriure virtute. Pro at nibh augue, postea malorum et cum. Nisl atomorum ad mel. No posse labores sed.
				</p>
				<p>
					Eu cetero laoreet incorrupte has, dolore detracto usu et. Cu his zril aliquando, te sea minimum voluptua. Ius atqui accusata ei, vix reque putant officiis ex. Usu debet dictas ut.
				</p>
			</div>
		</div>
		<div id="signin_overlay" class="layout fit" style="background-color:#FB8C00; z-index:1000;">
			<div layout vertical fit center-center>
				<h4 class="yellow-text text-accent-2 light">Loading...</h4>
				<div class="preloader-wrapper big active">
					<div class="spinner-layer spinner-yellow-only" style="border-color:#ffff00;">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div><div class="gap-patch">
							<div class="circle"></div>
						</div><div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</template>
</dom-module>

<script>
    (function(window) {
        var constructor = Polymer({

            is: 'sign-in',

            /**
             * ...
             *
             * @attribute properties
             * @type object
             * @default
             */
            properties: {
                name: 'Sign In'
            },

        	/* Functions */
            authomaticSignin: function () {
            	//Checks sessionStorage, and then localStorage for an authData object, and if one exists, 
            	//signs the user in automatically. Called in 'created' lifecycle event
            	var found = false;
            	var sessionJSON = sessionStorage.getItem(window.lfg.config.firebaseCacheKey);
            	var sessionAuth = JSON.parse(sessionJSON);
            	if (sessionAuth !== null && sessionAuth !== undefined && sessionAuth.uid !== null && sessionAuth.uid !== undefined && sessionAuth.uid !== '') {
            		found = true;
            		this.startIntroProcess(sessionAuth);
            	}
            	else {
            		var localJSON = localStorage.getItem(window.lfg.config.firebaseCacheKey);
            		var localAuth = JSON.parse(localJSON);
            		if (localAuth !== null && localAuth !== undefined && localAuth.uid !== null && localAuth.uid !== undefined && localAuth.uid !== '') {
            			found = true;
            			this.cacheLoginCredentials(localAuth);		//Have the authData stored in session
            			this.startIntroProcess(localAuth);
            		}
            	}

            	if (!found) {
            		this.removeOverlay();
            	}
				//if we reach here, sign in page should just load normally...
            },

            cacheLoginCredentials: function (authData) {
            	sessionStorage.setItem(window.lfg.config.firebaseCacheKey, JSON.stringify(authData));

            	if (this.login.keepsignin) {
            		var localAuthData = localStorage.getItem(window.lfg.config.firebaseCacheKey);
            		if (localAuthData == null || localAuthData == undefined) {
            			localStorage.setItem(window.lfg.config.firebaseCacheKey, JSON.stringify(authData));
            		}
            	}
            },

            getSteamAuthUrl: function () {
            	var customElem = this;
            	var url = window.lfg.config.getSteamVerifyUrl();

            	$.ajax({
            		url: url,
            		type: 'GET',
            		cache: false,
            		dataType: 'json',
            		success: function (data) {
            			if (data !== null && data !== undefined && data.url != null && data.url !== undefined && data.url !== '') {
            				customElem.steamAuthUrl = data.url;
            			}
            		},
            		error: function (err) {
            			alert('Login through Steam is temporarily unavailable');
            		}
            	});
            },

            removeOverlay: function () {
            	$(this.$.signin_overlay).fadeOut();
            },

            signInWithFacebook: function () {
            	var currElem = this;
            	this.firebaseRef.authWithOAuthPopup('facebook', function (error, authData) {
            		if (error) {
            			//show sign in error
            			$(currElem.$.loginerror).openModal();
            		}
            		else {
            			currElem.cacheLoginCredentials(authData);
            			console.log("Authenticated Successfully via facebook with payload:", authData);

            			//Check to see if it's user's first time. If it is, create user object in db for them and display 
            			//appropriate screen
            			currElem.startIntroProcess(authData);
            			document.querySelector('app-router').go('/requests');
            		}
            	});
            },

            signInWithTwitter: function () {
            	var currElem = this;
            	this.firebaseRef.authWithOAuthPopup('twitter', function (error, authData) {
            		if (error) {
            			//show sign in error
            			$(currElem.$.loginerror).openModal();
            		}
            		else {
            			currElem.cacheLoginCredentials(authData);
            			console.log("Authenticated Successfully via twitter with payload:", authData);

            			currElem.startIntroProcess(authData);
            			document.querySelector('app-router').go('/requests');
            		}
            	});
            },

            signInWithGoogle: function () {
            	var currElem = this;
            	this.firebaseRef.authWithOAuthPopup('google', function (error, authData) {
            		if (error) {
            			//show sign in error
            			$(currElem.$.loginerror).openModal();
            		}
            		else {
            			currElem.cacheLoginCredentials(authData);
            			console.log("Authenticated Successfully via google with payload:", authData);
            			currElem.startIntroProcess(authData);
            		}
            	});
            },

            signInWithSteam: function () {
				//See the callback from the Faye client for the second part of Steam signin. It's in the "init" function
            	if (this.steamAuthUrl !== null && this.steamAuthUrl !== undefined && this.steamAuthUrl !== '') {
            		this.steamWindow = window.open(
								  this.steamAuthUrl,
								  '_blank' // <- This is what makes it open in a new window.
							   );
            	}
            	else {
            		alert('Authentication via Steam is not working at the moment! Sorry...');
            	}
            },

            startIntroProcess: function (authData) {
            	var userRef = new Firebase(window.lfg.config.getFirebaseUrl() + 'users/' + authData.uid);

				//Get the user profile info. If none exists, redirect to Onboarding process...
            	userRef
					.once('value', function (snapshot) {
						var user = snapshot.val();

						//redirect to user setup page
						if (user === null || user === undefined) {
							document.querySelector('app-router').go('/setup');
						}
						else {
							document.querySelector('app-router').go('/requests');
						}
					});
            },

			/* Init */
            initializeData: function () {
				var customElem = this
            	this.steamAuthUrl = '';
            	this.getSteamAuthUrl();

            	this.login = {
            		keepsignin: true
            	};

            	this.firebaseUrl = window.lfg.config.getFirebaseUrl();
            	this.firebaseRef = new Firebase(window.lfg.config.getFirebaseUrl());

            	var faye_client = new Faye.Client('http://localhost:8089/faye');

				//Callback for Steam Authentication
            	var faye_subscription = faye_client.subscribe('/steamSuccess', function (message) {

            		if (customElem.steamWindow != null && customElem.steamWindow != undefined) {
            			customElem.steamWindow.close();
            			var authData = {
            				auth: {
            					provider: 'steam',
            					uid: 'steam:' + message.steamid
            				},
            				provider: 'steam',
            				uid: 'steam:' + message.steamid,
							token: message.token
            			};

            			customElem.cacheLoginCredentials(authData);
            			console.log("Authenticated Successfully via Steam with payload:", authData);
            			customElem.startIntroProcess(authData);
            		}
            	});
            },

            registerEvents: function () {
            	var polymer = this;
            },

            registerPlugins: function () {
            	$('.modal-trigger').leanModal();
            },

        	/* Events */
            created: function () {
            },

            ready: function () {
            	
            },

            attached: function () {
            	this.initializeData();
            	this.authomaticSignin();
            	this.registerPlugins();
            	this.registerEvents();
            }
        });
    })(window);
</script>