html,body {
    height: 100%;
    margin: 0;
    background-color: #fb8c00 ;
}

.lfg-input .select-wrapper {
	/*margin-left: -35px;*/
}

.lfg-input .select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff !important;
	box-shadow: 0 1px 0 0 #ffffff;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: calc(100% - 3rem);
    font-size: 1.5rem;
    margin: 0 0 15px 0;
    padding: 0;
    display: block; 
	margin-left: 3rem;
}

.lfg-input .select-wrapper i {
	color: #ffffff;
}

.lfg-input .select-wrapper .dropdown-content {
	margin-left: 3rem;
}

.lfg-input .select-wrapper .dropdown-content li span {
	color: #ef6c00 !important;
}

.lfg-input.select .prefix {
	position: absolute;
	width: 3rem;
	font-size: 2rem;
	-webkit-transition: color .2s;
	-moz-transition: color .2s;
	-o-transition: color .2s;
	-ms-transition: color .2s;
	transition: color .2s;
}

.lfg-input.select .prefix.active {
	color: #ffeb3b;
}

#request_system {
	background-color: transparent;
  width: calc(100% - 3rem);
  box-shadow: 1px solid #ffffff !Important;
  padding: 5px;
  border: none;
  border-bottom: 2px solid #ffffff;
  border-radius: 2px;
  height: 3rem;
  margin-left: 3rem;
	color: #ef6c00;
}

